<div class="testBody">

    <header> 
        <img [src]="fullImagePath" class="mainLogo">
    </header>

    <app-main-menu></app-main-menu>

    <ul class="mainBody">
        <li class="rightPart"> <img src="" alt="Тут може бути ваша реклама">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
             ut labore et dolore magna aliqua. Tellus molestie nunc non blandit massa. Semper auctor
              neque vitae tempus quam. Venenatis a condimentum vitae sapien pellentesque habitant morbi
               tristique.
        </li>

        <li class="mainPart">
            <router-outlet class="mainBlock"></router-outlet>
        </li>
        
        <li class="leftPart"> 
            <div class="keys" routerLink="form1" >
                 Виклик майстра
            </div>
            <div class="keys" routerLink="form1" >
                Встановити домофон
            </div>
            <div class="keys" routerLink="form1" >
                Встановити трубку
            </div>
            <div class="keys" routerLink="form1" >
                Замовити ключ
            </div>

            <img alt="Тут також може бути реклама" > Semper auctor neque vitae tempus quam.
        </li>
    </ul>


</div>
