<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. Tellus molestie nunc non blandit massa
    . Semper auctor neque vitae tempus quam. Venenatis a condimentum vitae sapien pellentesque 
    habitant morbi tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
     tempor incididunt ut labore et dolore magna aliqua. 
    <img alt="Тут може бути фото виробу" style="height:320px; width:480px;" >
      Tellus molestie nunc non blandit massa. Semper auctor neque vitae tempus quam.
       Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique.
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Tellus molestie nunc non blandit massa. Semper auctor neque
         vitae tempus quam. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique.

</p>
