<div>
        <H1>Виклик майстра</H1>
        <H2>Щоб викликати майстра заповніть нижче подану форму</H2>
</div>

<li class="forma"> 
    <form>
        Ім'я(*):
        <input type="text" name="firstName" placeholder="Ваше ім'я" ><br>
        Прізвище(*):
        <input type="text" name="lastName" placeholder="Ваша фамілія" ><br>
        Вулиця(*):
        <input type="text" name="street" placeholder="Ваша вулиця" ><br>
        Номер будинку(*):
        <input type="text" name="house" placeholder="Ваш номер телефону" ><br>
        Під'їзд(*):
        <input type="text" name="entrance" placeholder="Номер вашого під'їзду" ><br>
        Квартира(*):
        <input type="text" name="apartment" placeholder="Номер вашої квартири" ><br>
        Телефон(*):
        <input type="text" name="phoneNum" placeholder="Ваш номер телефону" ><br>
        Email(*):
        <input type="text" name="mail" placeholder="Адресс вашої електронної скриньки" ><br>
    
        <input class="subBtn" type="submit" value="Надіслати">
    
    </form>

</li>